In [1]:
import pandas as pd

Задача 1

In [17]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')
best_films = ratings['rating'] == 5.0
ratings.loc[best_films].head()

   userId  movieId  rating  timestamp
3       1       47     5.0  964983815
4       1       50     5.0  964982931
6       1      101     5.0  964980868
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [18]:
best_film_id = ratings['movieId'].value_counts().head(1)

In [23]:
movies.loc[best_film_id]

     movieId              title        genres
329      371  Paper, The (1994)  Comedy|Drama

Задача 2

In [2]:
power = pd.read_csv('power.csv')

In [4]:
filtered_quantity = power[((power['country'] == 'Latvia')|(power['country'] == 'Estonia')|(power['country'] == 'Litva'))&(power['year'] >= 2005)&(power['year'] <= 2010)&(power['quantity'] > 0)&((power['category'] == 4)|(power['category'] == 12)|(power['category'] == 21))]
sum_quantity = filtered_quantity['quantity'].sum()
sum_quantity

118284.0

Задача 3

In [8]:
pd.read_html('https://www.sports.ru/team-russia/calendar/')
page_url = 'https://www.sports.ru/team-russia/calendar/'
df = pd.read_html(page_url, attrs = {'class': 'stat-table'}, encoding='utf-8')

In [9]:
df

[                Дата                   Турнир   Соперник Unnamed: 3    Счет  \
 0   24.03.2021|22:45  Квалификация ЧМ: Европа     Мальта   В гостях   1 : 3
 1   27.03.2021|17:00  Квалификация ЧМ: Европа   Словения       Дома   2 : 1
 2   30.03.2021|21:45  Квалификация ЧМ: Европа   Словакия   В гостях   2 : 1
 3   12.06.2021|22:00         Чемпионат Европы    Бельгия   В гостях  превью
 4   16.06.2021|16:00         Чемпионат Европы  Финляндия   В гостях  превью
 5   21.06.2021|22:00         Чемпионат Европы      Дания       Дома  превью
 6   01.09.2021|21:45  Квалификация ЧМ: Европа   Хорватия       Дома  превью
 7   04.09.2021|16:00  Квалификация ЧМ: Европа       Кипр   В гостях  превью
 8   07.09.2021|21:45  Квалификация ЧМ: Европа     Мальта       Дома  превью
 9   08.10.2021|21:45  Квалификация ЧМ: Европа   Словакия       Дома  превью
 10  11.10.2021|21:45  Квалификация ЧМ: Европа   Словения   В гостях  превью
 11  11.11.2021|20:00  Квалификация ЧМ: Европа       Кипр       Дома  превью
 12  14.11.2021|17:00  Квалификация ЧМ: Европа   Хорватия   В гостях  превью

     Unnamed: 5 Зрители
 0          NaN       –
 1          NaN       –
 2          NaN       –
 3          NaN       –
 4          NaN       –
 5          NaN       –
 6          NaN       –
 7          NaN       –
 8          NaN       –
 9          NaN       –
 10         NaN       –
 11         NaN       –
 12         NaN       –  ]