Задание 1

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('ml-latest-small/ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
def rating_detection(rating):
    if rating <= 2.0:
        return 'Низкий рейтинг'
    if 2.0 < rating <= 4.0:
        return 'Средний рейтинг'
    if rating == 4.5 or 5.0:
        return 'Высокий рейтинг'

In [8]:
data['rating_assessment'] = data['rating'].apply(rating_detection)
data.head()

   userId  movieId  rating   timestamp rating_assessment
0       1       31     2.5  1260759144   Средний рейтинг
1       1     1029     3.0  1260759179   Средний рейтинг
2       1     1061     3.0  1260759182   Средний рейтинг
3       1     1129     2.0  1260759185    Низкий рейтинг
4       1     1172     4.0  1260759205   Средний рейтинг

Задание 2

In [13]:
import numpy as np
keywords = pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [16]:
geo_data = ['москва', 'тула', 'ярославль','петербург', 'псков', 'мурманск','владивосток', 'сахалин', 'хабаровск']
keywords['cities'] = np.random.choice(list(geo_data), len(keywords))
keywords

                       keyword     shows       cities
0                           вк  64292779  владивосток
1                одноклассники  63810309         тула
2                        порно  41747114         тула
3                         ютуб  39995567    петербург
4                    вконтакте  21014195       москва
...                        ...       ...          ...
99995   эльдорадо старый оскол      3705    хабаровск
99996      frigate для firefox      3630      сахалин
99997                   укрсиб      3630     мурманск
99998  погода в ялте на неделю      3688    ярославль
99999                     ггму      3630     мурманск

[100000 rows x 3 columns]

In [27]:
def geo_classifier(cities):
    if cities == 'москва':
        return 'Центральный регион'
    if cities == 'тула':
        return 'Центральный регион'
    if cities == 'ярославль':
        return 'Центральный регион'
    if cities == 'петербург':
        return 'Северо-Запад'
    if cities == 'псков':
        return 'Северо-Запад'
    if cities == 'мурманск':
        return 'Северо-Запад'
    if cities == 'владивосток':
        return 'Дальний Восток'
    if cities == 'сахалин':
        return 'Дальний Восток'
    if cities == 'хабаровск':
        return 'Дальний Восток'
    else:
        return 'undefined'

In [28]:
keywords['region'] = keywords['cities'].apply(geo_classifier)
keywords

                       keyword     shows       cities              region
0                           вк  64292779  владивосток      Дальний Восток
1                одноклассники  63810309         тула  Центральный регион
2                        порно  41747114         тула  Центральный регион
3                         ютуб  39995567    петербург        Северо-Запад
4                    вконтакте  21014195       москва  Центральный регион
...                        ...       ...          ...                 ...
99995   эльдорадо старый оскол      3705    хабаровск      Дальний Восток
99996      frigate для firefox      3630      сахалин      Дальний Восток
99997                   укрсиб      3630     мурманск        Северо-Запад
99998  погода в ялте на неделю      3688    ярославль  Центральный регион
99999                     ггму      3630     мурманск        Северо-Запад

[100000 rows x 4 columns]