Задание 1

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('ml-latest-small/ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
def rating_detection(rating):
    if rating <= 2.0:
        return 'Низкий рейтинг'
    if 2.0 < rating <= 4.0:
        return 'Средний рейтинг'
    if rating == 4.5 or 5.0:
        return 'Высокий рейтинг'

In [8]:
data['rating_assessment'] = data['rating'].apply(rating_detection)
data.head()

   userId  movieId  rating   timestamp rating_assessment
0       1       31     2.5  1260759144   Средний рейтинг
1       1     1029     3.0  1260759179   Средний рейтинг
2       1     1061     3.0  1260759182   Средний рейтинг
3       1     1129     2.0  1260759185    Низкий рейтинг
4       1     1172     4.0  1260759205   Средний рейтинг

Задание 2

In [5]:
import numpy as np
keywords = pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [6]:
geo_data = {
    
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [20]:
def geo_classifier(keyword):
    for region, city_list in geo_data.items():
        for city in city_list:
            if city == keyword:
                return region
    else:
        return 'undefined'