Задание 1

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('ml-latest-small/ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
def rating_detection(rating):
    if rating <= 2.0:
        return 'Низкий рейтинг'
    if 2.0 < rating <= 4.0:
        return 'Средний рейтинг'
    if rating == 4.5 or 5.0:
        return 'Высокий рейтинг'

In [8]:
data['rating_assessment'] = data['rating'].apply(rating_detection)
data.head()

   userId  movieId  rating   timestamp rating_assessment
0       1       31     2.5  1260759144   Средний рейтинг
1       1     1029     3.0  1260759179   Средний рейтинг
2       1     1061     3.0  1260759182   Средний рейтинг
3       1     1129     2.0  1260759185    Низкий рейтинг
4       1     1172     4.0  1260759205   Средний рейтинг

Задание 2

In [4]:
import numpy as np
keywords = pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [14]:
def zapros(fraza_zaprosa):
    separator = " "
    a = fraza_zaprosa.split(separator)
    keyword_for_bd = a[0]
    triger_for_geoclassifier = a[1]
    return triger_for_geoclassifier, keyword_for_bd

In [15]:
def serach_for_match(keyword_for_bd):
    if keyword_for_bd == keywords['keyword']:
        keywords['triger'] = triger_for_geoclassifier
        #должна создавать столбец triger и заполнять его названиями город в тех местах где совпало первое слово запроса с keyword
        #но судя по всему тут что-то не так)
        #помогите пожалуйста!)

In [16]:
def geo_classifier(triger):
    if triger == 'москва':
        return 'Центральный регион'
    if triger == 'тула':
        return 'Центральный регион'
    if triger == 'ярославль':
        return 'Центральный регион'
    if triger == 'петербург':
        return 'Северо-Запад'
    if triger == 'псков':
        return 'Северо-Запад'
    if triger == 'мурманск':
        return 'Северо-Запад'
    if triger == 'владивосток':
        return 'Дальний Восток'
    if triger == 'сахалин':
        return 'Дальний Восток'
    if triger == 'хабаровск':
        return 'Дальний Восток'
    else:
        return 'undefined'

In [17]:
keywords['region'] = keywords['triger'].apply(triger)
keywords

KeyError: 'triger'